@font-face {
  font-family: 'Montserrat';
  src: url("../../fonts/Montserrat-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../../fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}


@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-Bold.ttf");
  font-weight: bold;
}

*,
*::before,
*::after {
  font-family: inherit;
}


html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, font, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td {

  margin: 0;

  padding: 0;

  border: 0;

  outline: 0;

  font-weight: inherit;

  font-style: inherit;

  font-size: 100%;

  font-family: inherit;

  vertical-align: baseline;

}

:focus {

  outline: 0;

}

body {
  color: black;

  background: white;

}

ol, ul {

  list-style: none;

}

table {

  border-collapse: separate;

  border-spacing: 0;

}

caption, th, td {

  text-align: left;

  font-weight: normal;

}

blockquote:before, blockquote:after,

q:before, q:after {

  content: "";

}

blockquote, q {

  quotes: "" "";

}

*,
*::before,
*::after{
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-y: auto;
  min-height: 100vh;
}
body {
  min-height: 100vh;
  background: #20202B;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", georgia, serif;
  color: hsla(0, 0%, 100%, 1);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  overflow-x: hidden;
}

h1  {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: #1be3e3
}

a:hover {
  color: #1ec3c3;
  text-decoration: underline;
}

@media (min-width: 769px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 77%;
  }
}


